#menu
{
  position: fixed;
  list-style-type: none;
  /*margin-top: 5%;*/
  padding: 0;
  width: 15%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  font-size: 1.2em;
}
.link
{
  display: block;
  color: #088060;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
.link:hover
{
  color: white;
  background-color: #088060;
}
.title
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.5em;
  padding-top: 1%;
  width: 15%;
  height: 100%;
  float: left;
  color: white;
  background-color: black;
  opacity: .9;
  text-align: center;
}
#main
{
  position: relative;
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
}
.item
{
  position: relative;
  width: 80%;
  left: 10%;
  margin-bottom: 15%;
}
img
{
  width: 100%;
  height: auto;
}
img:hover
{
  cursor: pointer;
}
.name
{
  /*text-align: center;*/
  padding-top: 1%;
  font-size: 4em;
}
